.profile__wrapper {
    display: flex;
    align-items: baseline;
    margin: 47px auto 16px;
}
@media screen and (max-width: 767px){
    .profile__wrapper {
        max-width: 282px;
        margin: 27px auto 14px;
    }
    
}