.profile__add-btn {
    display: inline-flex;
    align-items: baseline;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    background-color: inherit;
    background-image: url(../../../image/add_btn.svg);
    transition: opasity 0.4s linear;
    cursor: pointer;
    padding: 0;
}
.profile__add-btn:hover {
    opacity: 0.6;
}
@media screen and (max-width: 1023px) {
    .profile__add-btn {
        margin: 22px 0 0 20px;
        background-position: center;
    }
}    
@media screen and (max-width: 767px) {
    .profile__add-btn {
        margin: 36px auto 0;
        background-image: url(../../../image/add-btn-282.svg);
        width: 282px;
    }
}