.footer {
    max-width: 880px;
    padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: 282px;
        margin-left: 19px;
        padding-bottom: 36px;
    }
}