.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    color: #FFFFFF;
    margin: 0;
}
@media  screen and (max-width: 767px) {
    .profile__subtitle {
        max-width: 282px;
    }
}