.popup__close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background: url(../../../image/close-icon.svg);
    background-size: 100%;
    border: none;
    transition: opacity 0.4s linear;
}
.popup__close-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media screen and (max-width: 767px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 0px;
        top: -35px;
    }
}