.header {
    display: flex;
    max-width: 880px;
    padding: 45px 0 41px 0;
    border-bottom: 1px solid #545454;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}